.products-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 20px;
}

/* Product Cards */
.product-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 18px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

/* Product Name */
.product-name {
  font-size: 20px;
  font-weight: bold;
  color: #34495e;
}

/* Product Price */
.product-price {
  font-size: 18px;
  color: #27ae60;
  margin-bottom: 10px;
}

/* Product Image */
.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background: #f2f3f4;
  border-radius: 10px;
}

/* Add Button */
.btn-add {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 8px;
  font-size: 15px;
  background: #2ecc71;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.btn-add:hover {
  background: #27ae60;
}

/* Responsive */
@media (max-width: 480px) {
  .product-image {
    height: 150px;
  }
}





.header{
    height: 10vh;
    width: 210vh;
    background-color: black;
}
.header{
    overflow: hidden;
    justify-content: space-evenly;
}

.home{
    color: red;
    padding: 20px;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    border: 2px solid black;
    font-weight: 700;
    box-sizing: border-box;
}


.home:hover{
    color: white;
    transform: scale(1.2);
}


.add{
     color: red;
    padding: 20px;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    border: 2px solid black;
    font-weight: 700;
    box-sizing: border-box;
}

.home:hover{
    color: white;
    transform: scale(1.2);
}
