
/* Profile Container */
.profile-container {
  max-width: 700px;
  margin: 50px auto;
  background: #1b1b1b;
  color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px #00e5ff44;
}

.profile-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}

/* Stylish Image Box */
.profile-box {
  display: flex;
  align-items: center;
  gap: 30px;
  background: #222;
  padding: 20px;
  border-radius: 12px;
  margin-top: 30px;
}
.profile-image-wrapper {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #00e5ff;
}
.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Profile Info */
.profile-info p {
  font-size: 16px;
  margin: 6px 0;
}

/* Upload file form */
.profile-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

/* Hiding Default File Input */
.profile-form input[type="file"] {
  display: none;
}

/* Custom Upload Button */
.upload-btn {
  background: #00e5ff;
  color: #111;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s;
}
.upload-btn:hover {
  background: #00b8cc;
}

/* Submit Button */
.submit-btn {
  padding: 10px 20px;
  background: #0077ff;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
.submit-btn:hover {
  background: #005fcc;
}


.header{
    overflow: hidden;
    justify-content: space-evenly;
}
.homes {
   color: red;
    padding: 20px;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    border: 2px solid black;
    font-weight: 700;
    box-sizing: border-box;
}

.homes:hover{
    color: white;
    transform: scale(1.2);
}
